.Activity-Component{
   position: relative;
}
.Activity-Component > .Activities-List {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
   grid-gap: 20px;
   padding: 15px;
}
.Activity-Component > .Activities-List > .Activity{
   position: relative;
   width: 100%;
   min-height: 90px;
   box-shadow: 0px -1px 16px 0px rgba(0, 0, 0, 0.24), 1px 1px 2px rgba(0, 0, 0, 0.12);
   z-index: 1;
   padding: 10px;
}
.Activity-Component > .Activities-List > .Activity::after{
   content: "list_alt";
   font-family: 'Material Icons';
   position: absolute;
   width: 100%;
   top: 50%;
   transform: translateY(-50%);
   text-align: center;
   font-size: 75px;
   color: #000000;
   opacity: 0.1;
   z-index: -1;
   margin: -10px;
}
.Activity-Component > .Activities-List > .Activity::before{
   content: "";
   background-image: linear-gradient(to right, #06b4e0, #1fd2b8);
   position: absolute;
   width: 100%;
   height: 100%;
   opacity: 0.6;
   z-index: -1;
   margin: -10px;
}

.Activity-Component > .Activities-List > .Activity.InProgress::before{
   background-image: linear-gradient(to right, #00a6d0, #00233a);
}
.Activity-Component > .Activities-List > .Activity.Completed::before{
   background-image: linear-gradient(to right, #00ab4a, #00233a);
}
.Activity-Component > .Activities-List > .Activity.Skipped::before{
   background-image: linear-gradient(to right, #ff1100, #00233a);
}
.Activity-Component > .Activities-List > .Activity.Goal::before{
   background-image: linear-gradient(to right, #f3dc13, #00233a);
}

.Activity-Component > .Activities-List > .Activity.active{
   width: 100%;
   grid-column: span 2;
   grid-row: span 2;
}
.Activity-Component > .Activities-List > .Activity .Hover-Effect{
   display: none
}
.Activity-Component > .Activities-List > .Activity:hover:not(.active) .Hover-Effect {
   display: block;
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: 0 auto;
   text-align: center;
   line-height: 90px;
   color: #ffffff;
   background-image: linear-gradient( to top left, rgba(29, 162, 195, 0.7), rgba(29, 58, 76, 0.7));
   font-weight: 600;
   cursor: pointer;
}
.Activity-Component > .Activities-List > .Activity.active .Activity-Description{
   display: block;
}
.Activity-Component > .Activities-List > .Activity.active .More{
   height: auto;
   padding: 5px 0px;
}
.Activity-Component > .Activities-List > .Activity.active .Action-Menu{
   display: block;
}


.Activity-Component > .Activities-List > .Activity .Activity-Name {
   font-size: 21px;
   font-family: 'Carme', sans-serif;
   text-align: center;
   background-image: linear-gradient( to left, #fd0000, #ffeb00 60% );
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-weight: 600;
}
.Activity-Component > .Activities-List > .Activity .Level-Name {
   font-size: 17px;
   font-family: 'Carme', sans-serif;
   text-align: center;
   background-image: linear-gradient( to right, #00ffdc, #00c4f5 );
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-weight: 600;
}
.Activity-Component > .Activities-List > .Activity .Activity-Description {
   display: none;
   color: #fff;
   font-size: 12px;
   font-family: 'Carme', sans-serif;
   text-align: center;
   letter-spacing: 0.3px;
}
.Activity-Component > .Activities-List > .Activity  .More {
   height: 0px;
   overflow: hidden;
   display: grid;
   grid-template-columns: 49% 2% 49%;
   background-color: rgba(0, 0, 0, 0.2);
}
.Activity-Component > .Activities-List > .Activity  .More .Max-Points{
   color: #fff;
   font-weight: 600;
   letter-spacing: 0.5px;
   text-align: center;
}
.Activity-Component > .Activities-List > .Activity  .More .Max-Points .Points{
   display: block;
}
.Activity-Component > .Activities-List > .Activity  .More .Max-Points .Text{
   font-size: 13px;
   font-weight: 500;
}
.Activity-Component > .Activities-List > .Activity  .More .Divider {
   width: 2px;
   background: #ffffff57;
}
.Activity-Component > .Activities-List > .Activity  .More .Achievements-Length {
   color: #fff;
   font-weight: 600;
   letter-spacing: 0.5px;
   text-align: center;
}
.Activity-Component > .Activities-List > .Activity  .More .Achievements-Length .Length {
   display: block;
}
.Activity-Component > .Activities-List > .Activity  .More .Achievements-Length .Text {
   font-size: 13px;
   font-weight: 500;
}
.Activity-Component > .Activities-List > .Activity .Action-Menu {
   display: none;
   position: absolute;
   top: 10px;
   left: 10px;
   border-radius: 32px;
}
.Activity-Component > .Activities-List > .Activity .Action-Menu:hover{
   border-radius: 32px;
}
.Activity-Component > .Activities-List > .Activity .Action-Menu .Action-Menu-Icon {
   border-radius: 32px;
   width: 32px;
   height: 32px;
   text-align: center;
   line-height: 40px;
   background-image: linear-gradient(to right, #07f1d1, #00cdff);
   cursor: pointer;
   opacity: 0.7;
   margin-top: 4px;
   z-index: 1;
}
.Activity-Component > .Activities-List > .Activity .Action-Menu > .Action-Menu-Icon:first-child{
   margin-top: 0px;
}
.Activity-Component > .Activities-List > .Activity .Action-Menu .Action-Menu-Icon:hover{
   opacity: 0.9;
}
.Activity-Component > .Activities-List > .Activity .Action-Menu .Skipped-Action-Icons{
   max-height: 0;
   transition: max-height 0.5s ease-out;
   overflow: hidden;
}
.Activity-Component > .Activities-List > .Activity .Action-Menu:hover .Skipped-Action-Icons{
   max-height: 500px;
   transition: max-height 0.5s ease-in;
}
.Activity-Component > .Activities-List > .Activity .Action-Menu .Action-Menu-Icon i.material-icons {
   font-size: 20px;
   font-weight: 800;
   background-image: linear-gradient( to bottom, #253592, #0f7bd2);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.Activity-Component > .Activities-List > .Activity .Action-Menu .Skipped-Action-Icons > .Action-Menu-Icon .Action-Text{
   opacity: 0;
   width: 0px;
   overflow: hidden;
}
.Activity-Component > .Activities-List > .Activity .Action-Menu:hover .Skipped-Action-Icons > .Action-Menu-Icon .Action-Text{
   z-index: -1;
   left: 0px;
   position: absolute;
   height: 32px;
   text-align: left;
   background-image: linear-gradient(to right, #07f1d1, #00cdff);
   cursor: pointer;
   padding: 0px 0px 0px 28px;
   border-radius: 32px;
   line-height: 28px;
   width: 0px;
   opacity: 0;
   overflow: hidden;
   transition: width 0.25s ease-out, opacity 0.25s ease-out;
}
.Activity-Component > .Activities-List > .Activity .Action-Menu:hover .Skipped-Action-Icons > .Action-Menu-Icon:hover .Action-Text{
   opacity: 1;
   width: 100px;
   transition: width 0.25s ease-in, opacity 0.25s ease-in;
}
.Activity-Component > .Activities-List > .Activity .Action-Menu:hover .Skipped-Action-Icons > .Action-Menu-Icon > .Action-Text > .Text{
   background-image: linear-gradient( to left, #253592, #0f7bd2);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-size: 12px;
   font-weight: 600;
}